<%if(list.length==0){%>
    <p class="err_info">抱歉，该分类下还没有内容，赶快去添加吧！！</p>
<%}else{%>
<div id="tab2" class="tabm">
    <p class="g_font">我的点赞</p>
    <div class="g_wrap" id="w2">
        <%for(let i=0;i<list.length;i++){%>
        <div class='g_list'>
            <div class='s-content'>
                <div class='s-desc'>
                    <span><%=list[i].createTime%></span>，赞了该文章
                </div>
                <div class='g_box'>
                    <span class='arrow'></span>
                    <a href='/details?id=<%=list[i].id%>' class='s-title'><%=list[i].blTitle%></a>
                    <div class="s-boxc">
                        <div class='s-desc wid-box'>
                            <%=list[i].blSummary%>
                        </div>
                        <!-- <span id="idg" style="display: none"></span> -->
                        <span data-id="<%=list[i].id%>" class="cancel-fans" onclick="cancelG(this)">取消</span>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
     <!-- 分页 --> 
     <div class="fenye" style="text-align:center;">
        <ul data-userid="<%=sessionid%>" data-name="2" data-pagecount="<%=page.total%>" data-pagesize="<%=page.size%>" data-current="<%=page.current%>" class="pagination" id="pagination"></ul>
    </div> 
</div>

<script type="text/javascript" src="javascripts/fenye1.js"></script>
<%}%>
