<%if(list.length==0){%>
    <p class="err_info">抱歉，该分类下还没有内容，赶快去添加吧！！</p>
<%}else{%>
<div id="tab4" class="tabm">
    <p class="g_font">我的评论</p>
    <div class="g_wrap" id="w4">
        <%for (let i=0;i<list.length;i++){%>
            <div class='subject-item'>
                <div class="s-content" style="margin:30px 100px 30px 30px">
                    <h3 class="s-title">
                        <a href="/details?id=<%=list[i].id%>" class="s-h3" data_id="<%=list[i].id%>"><%=list[i].title%></a>
                    </h3>
                    <p class="s-desc">
                        <span style="font-weight: bold"> 我的评论：</span>
                        <span><%=list[i].content%></span></p>
                    <p class="s-info">
                        <span>评论时间：<%=list[i].createTime%></span>
                    </p>
                    <!-- 删除按钮 -->
                    <div class="del_commont">
                        <span id="idc" data-id="<%=list[i].id%>" style="display: none" ></span>
                        <input class="meg_btn" type="button" value="删除评论" onclick="del_comont(this)"/>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div> 
<%}%>
