<%if(list.length==0){%>
    <p class="err_info">抱歉，该分类下还没有内容，赶快去添加吧！！</p>
<%}else{%>
    <div id="tab6" class="tabm">
        <div class="g_font">
            <span>我的粉丝</span>
            <span class="g_spn">共有<span id="i_fans"><%=list.length%></span>个人在关注你</span>
        </div>
        <div class="g_wrap" id="w6">
            <%for (let i=0;i<list.length;i++){ %>
                <div class='eve_list' style="padding-left:40px">
                    <div class='fans_pic'>
                        <div class='f_pic box1'>
                        </div>
                        <div class='f_pic box2'></div>
                        <div class='f_pic box3'>
                            <img class='f-pic' src='images/tou1.png'>
                        </div>
                    </div>
                    <div class='fans_font'>
                        <h4><%=list[i].name%></h4>
                    </div>
                    <button data-bid="<%=list[i].userId%>" class='F_btn cel_btn' onclick="fans(this)">关注</button>
                </div>
            <%}%>
        </div>
       <!-- 分页 --> 
        <div class="fenye" style="text-align:center;">
            <ul data-userid="<%=sessionid%>" data-name="6" data-pagecount="<%=page.total%>" data-pagesize="<%=page.size%>" data-current="<%=page.current%>" class="pagination" id="pagination"></ul>
        </div>
    </div> 
    <script type="text/javascript" src="javascripts/fenye1.js"></script> 
<%}%>