<%if(list.length==0){%>
    <p class="err_info">抱歉，该分类下还没有内容，赶快去添加吧！！</p>
<%}else{%>
<div id="tab7" class="tabm">
    <div class="i_head">
        <p>
            <span>我的消息</span>
            <span class="meg_clear" onclick="delAll(this)">清空所有消息</span>
        </p> 
        <p class="i_font">共有 <span id="i_info"><%=list.length%></span> 条消息</p>
    </div>
    <div class="g_wrap" id="w7" style="margin-top: 10px">
        <%for(var i=0; i < list.length; i++){%>
            <div class='present-panel'>
                <div class='g_list self'>
                    <!-- 内容 -->
                    <div class="meg_left">
                        <a class="meg_title" href="/details?id=<%=list[i].blId%>" data_id="<%=list[i].blId%>">
                            <%=list[i].title%>
                        </a>
                        <p>
                            <span class="megs"><%=list[i].name%></span>
                            <span class="megs"><%=list[i].content%></span>
                        </p>
                        <p class="meg_time"><%=list[i].createTime%></p>
                    </div>
                    <!-- 删除按钮 -->
                    <div class="meg_right">
                        <input class="meg_btn" type="button" value="删除信息" onclick="delinfo(this)"/>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <%if(list.length>0){%>
        <div class="split_page">
            <span><</span>
            <span class="active">1</span>
            <span onclick="spiltPage()">2</span>
            <span>></span>
        </div>
    <%}%>
</div>
<%}%>