<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客详情</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/public/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/public/mask.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/public/footer.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/details.css">
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>

</head>
<body>

<!--header-->
<%-include ./public/header.ejs%>

<section class="top">
    <div class="topimg"></div>
</section>
<section class="fixedtext">
    <h3 class="blTitle"><%=datas.blTitle%></h3>
</section>
<section class="headers">
    <div class="point">
        <span>未来工作室</span>
        <span> <a class="color" href="/">首页</a></span>
        <span><a class="color" href="javascript:;">博客</a></span>
        <span>正文</span>
    </div>
    <div class="content">
        <div class="contentLeft">
            <h1 class="contentTitle"><%=datas.blTitle%></h1>
            <ul class="contentTime"> 
                <li><a href="/personblog?id=<%=users.id%>"><%=users.username %></a></li>
                <li><img src="images/detailtime.png"> <span><%=datas.createTime%></span></li>
                <li><img src="images/detailsee.png"><span>浏览 <%=datas.pageviews%></span></li>
                <li><img src="images/detailspeak.png"><span>评论 <%=datas.comments%></span></li>
                <% if(result.loginUserId == users.id){ %>
                <li class="right">
                    <a  class="editblog" href="http://10.1.32.20:18080/update?id=<%=datas.id%>&userid=<%=datas.userId%>">编辑</a>
                    <a data-id="<%=datas.id%>"  data-user="<%=datas.userId%>" class="deteleblog" href="javascript:;">删除</a>
                </li>
                <%}%>
            </ul>
            <ul class="contentType">
                <% for(let i in label){%>
                <li><a href="javascript:;"><%=label[i]%></a></li>
                <%}%>
            </ul>
            <div class="contentreq">
                <b>摘要 ： </b><span><%= datas.blSummary %></span>
            </div>
            <div class="contenttext">
                <%-datas.htmlContent%>
            </div>
            <div class="contentOper">
                <a href="javascript:;" class="Operspeak">
                    <i class="fa fa-commenting-o" ></i>
                    <span>评论 (<i><%= datas.comments %></i>)</span>
                </a>
                <%if(result.isLike==0){%>
                <a href="javascript:;" class="noclick">
                    <i class="fa fa-thumbs-o-up" ></i>
                    <span>点赞 (<i><%= datas.blLikes %></i>)</span>
                </a>
                <%}%>
                <%if(result.isLike==1){%>
                    <a href="javascript:;" class="noclick Operclick">
                        <i class="fa fa-thumbs-o-up" ></i>
                        <span>点赞 (<i><%= datas.blLikes %></i>)</span>
                    </a>
                <%}%>
                <input type="hidden" class="dataid" value="<%=datas.id%>" />
                <script>
                    // 点赞以及取消点赞ajax
                    $('.noclick').click(
                        function () {
                            let noclick=$(this);
                            let dataid=$('.dataid').val();

                            $.ajax({
                                url:'/details/savelike',
                                type:'get',
                                data:{
                                    id : dataid,
                                },
                                success:function (data) {
                                    if(data.code == 1){
                                        noclick.addClass('Operclick');
                                        let num=noclick.children("span").children("i").html();
                                        num++;
                                        noclick.children("span").children("i").html(num);
                                    }else if(data.code == 0){
                                        noclick.removeClass('Operclick');
                                        let num=noclick.children("span").children("i").html();
                                        if(num !=0){
                                            num--;
                                        }
                                        noclick.children("span").children("i").html(num);
                                    }else{
                                        alert("操作失败，请重试！");
                                    }
                                }
                            })

                        }
                    );

                </script>
                <%if(result.isCollection==0){%>
                <a href="javascript:;" class="nocollect">
                    <i class="fa fa-heart-o"></i>
                    <span>收藏 (<i><%= datas.collects %></i>)</span>
                </a>
                <%}%>
                <%if(result.isCollection==1){%>
                    <a href="javascript:;" class="nocollect Operclick">
                        <i class="fa fa-heart-o"></i>
                        <span>收藏 (<i><%= datas.collects %></i>)</span>
                    </a>
                <%}%>
                <script>
                    // <!--收藏-->
                    $('.nocollect').click(
                        function () {

                            let nocollect=$(this);
                            let dataid=$('.dataid').val();

                                $.ajax({
                                    url:'/details/savecollect',
                                    type:'get',
                                    data:{
                                        id:dataid
                                    },
                                    success:function (data) {
                                        if(data.code==1){
                                                nocollect.addClass('Operclick');
                                                let num=nocollect.children("span").children("i").html();
                                                num++;
                                                nocollect.children("span").children("i").html(num);
                                        }else if(data.code==0){
                                                nocollect.removeClass('Operclick');
                                                let num=nocollect.children("span").children("i").html();
                                                if(num!=0){
                                                    num--;
                                                }
                                                nocollect.children("span").children("i").html(num);

                                        }else{
                                            alert("网络错误，请重试！");
                                        }
                                    }
                                })

                        }
                    );
                </script>
            </div>
            <div class="updown">
                <% if(before){%>
                <a href="/details?id=<%=before.id %>">上一篇：<span><%=before.blTitle%></span></a>
                <%}%>
                <% if(after){%>
                <a href="/details?id=<%=after.id%>">下一篇：<span><%=after.blTitle%></span></a>
                <%}%>
            </div>
            <div class="comment">
                <h3>网友评论</h3>
                <div class="comment">
                    <%for(var key in comment){%>
                    <%if(comment[key]!=''){%>
                    <div class="allcomment">
                        <div class="allcommentLeft">
                            <a href="javascript:;">
                                <img src="images/a3.jpg">
                            </a>
                        </div>
                        <div class="allcommentRight">
                            <div class="comment-autor">
                                <a href="/personblog?id=<%=comment[key][0].userId%>" class="autor-l"><%=comment[key][0].name%></a>
                                <a class="autor-r"><%=comment[key][0].createTime%></a>
                            </div>
                            <div class="commenttext">
                                <p><%=comment[key][0].content%></p>
                            </div>
                            <ul class="twicetext">
                                <li class="twicetextbut">
                                    <i class="fa fa-commenting-o"></i>评论(<span><%=comment[key].length -1 %></span>)
                                </li>
                                <% if(comment[key][0].userId==result.loginUserId){%>
                                <li class="deleteli">
                                    <a href="javascript:;" class="detalecomm" data-id="<%=comment[key][0].id%>">删除</a>

                                </li>
                                <%}%>
                            </ul>
                            <div class="inputbox" >
                                <%for(var j=1;j<comment[key].length;j++){%>
                                <div class="box-chat">

                                    <div class="chat">
                                        <div class="chat-comment-autor">
                                            <a href="/personblog?id=<%=comment[key][j].userId%>" class="chat-autor-l"><%=comment[key][j].name%></a>
                                            <a class="chat-autor-r"><%=comment[key][j].createTime%></a>
                                        </div>
                                        <div class="chat-commenttext">
                                            <p><%=comment[key][j].content%></p>
                                        </div>
                                        <ul class="chat-twicetext">
                                            <li class="essayblock">
                                                <i class="fa fa-commenting-o"></i>评论
                                            </li>
                                            <% if(comment[key][j].userId==result.loginUserId){%>
                                            <li class="chat-deleteli">
                                                <a href="javascript:;"  class="detalecomm" data-id="<%=comment[key][j].id%>" >删除</a>

                                            </li>
                                            <%}%>
                                        </ul>
                                    </div>
                                    <div class="chat-essay" style=" display: none;">
                                        <textarea class="essay"></textarea>
                                        <div class="essay-control">
                                            <input type="hidden" value="<%=comment[key][j].userId%>">
                                            <a class="essayreview" href="javascript:;">评论</a>
                                            <input type="hidden" value="<%=comment[key][0].id%>">
                                            <a class="essaydel" href="javascript:;">取消</a>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                <div class="box-room">
                                    <textarea class="room-text" placeholder="留下你的评论"></textarea>
                                    <div class="room-control" style="display: none;">
                                        <input type="hidden" value="<%=comment[key][0].userId%>">
                                        <a class="review" href="javascript:;">评论</a>
                                        <input type="hidden" value="<%=comment[key][0].id%>">
                                        <a class="del" href="javascript:;">取消</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
            <div class="speak">
                <div class="speak-peo">
                    <div class="peotext">还可评论150个字</div>
                    <textarea maxlength="150" class="textarea" name="content" placeholder="快来评论吧"></textarea>
                    <div class="peobut">
                        <a href="javascript:;">评论</a>
                    </div>
                </div>
            </div>
            <input type="hidden" class="userId" value="<%=users.id%>"/>
            <% if( dataother != null){%>
            <div class="contentrelative">
                <h3>相关文章</h3>
                <ul class="relative-title">
                    <% for(var i =0; i<dataother.length ;i++) {%>
                    <li>
                        <a href="/details?id=<%=dataother[i].id%>">
                            <div class="rel-box">
                                <ul class="box-t">
                                    <span style="color:#B71ED7;float: left;font-size: 10px;line-height: 22px;margin-right: 10px"><%=dataother[i].articleType%></span>
                                    <li>
                                        <a href="/details?id=<%=dataother[i].id%>"><%=dataother[i].name%></a>
                                    </li>
                                    <li>
                                        <a href="/details?id=<%=dataother[i].id%>"><%=dataother[i].createTime%></a>
                                    </li>
                                    <li>
                                        <a href="/details?id=<%=dataother[i].id%>"><%=dataother[i].label%></a>
                                    </li>
                                </ul>
                                <div class="box-title">
                                    <a href="/details?id=<%=dataother[i].id%>"><%=dataother[i].blTitle%></a>
                                </div>
                                <div class="box-like">
                                    <a href="/details?id=<%=dataother[i].id%>">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <span><%=dataother[i].blLikes%></span>
                                    </a>
                                    <a href="/details?id=<%=dataother[i].id%>">
                                        <i class="fa fa-commenting"></i>
                                        <span><%=dataother[i].comments%></span>
                                    </a>

                                </div>
                            </div>
                        </a>
                    </li>
                    <%}%>

                </ul>
            </div>
            <%}%>
        </div>

        <div class="contentRight">
            <div class="right-blogger">
                <div class="blogger-title">
                    博主介绍
                </div>
                <div class="blogger-pho">
                    <img src="images/a3.jpg">
                </div>
                <div class="blogger-brief">
                    <h6><a href="/personblog?id=<%= users.id%>"><%= users.username%></a></h6>
                    <p class="brief-all">
                        <span>文章</span><span><%= result.blogNum %>篇</span>
                        <br/>
                        <span>关注</span><span class="fannum"><%= result.fanNum %></span>
                    </p>
                    <%if( result.loginUserId != users.id){%>
                    <p class="add">
                        <%if(code==0){%>
                            <a data-id="<%=users.id%>" data-login="<%=result.loginUserId%>" class="atten" href="javascript:;" >+ 关注</a>
                        <%}%>
                        <%if(code!=0){%>
                            <a data-id="<%=users.id%>" data-login="<%=result.loginUserId%>" class="atten yes" href="javascript:;" >已关注</a>
                        <%}%>
                    </p>
                    <%}%>
                </div>
            </div>
            <div class="its-blogg">
                <div class="its-title">
                    <span>博主其他文章</span>
                    <a class="title-many"  href="/personblog?id=<%=users.id%>">
                        更多&nbsp;&nbsp;&nbsp;<i style="font-size: 16px" class="fa fa-angle-right"></i>
                    </a>
                </div>
                <ul class="its-all">
                    <%if(other !=null){%>
                        <% for(var i in other){%>
                        <li>
                            <a href="/details?id=<%=other[i].id%>">
                                <span><%=other[i].blTitle%></span>
                            </a>
                        </li>
                        <%}%>
                    <%}%>
                </ul>
            </div>
        </div>

    </div>
</section>
<div class="returntop" title="返回顶部">
    <i class="fa fa-chevron-up"></i>
</div>
<!--搜索遮罩-->
<%-include ./public/mask.ejs%>

<!--foot-->
<%-include ./public/footer.ejs%>

</body>

<script type="text/javascript" src="javascripts/details.js"></script>
<script>
        //搜索
        function OnChange() {
            const val=$('.c_search').val();
            const data={
                key:val
            }
            $.ajax({
                url:'/search',
                type:'post',
                data: data,
                success:function (data) {
                    let str="";
                    if (data.length<=0){
                        str="<div class='tipe1'><img src='images/404.png' width='100%' height='100%'></div>"
                    }
                    //得到数据拼接字符串 并显示
                    for (let i=0;i<data.length;i++){
                        str+="<div class='c_list'><div class='main-info'><h3>标题</h3><p class='desc'>摘要</p></div>" +
                            "<div class='less-info'><p class='source'><span class='author'>作者</span></p></div></div>"
                    }
                    $('#wrap').html(str);
                }
            })
        }
</script>
</html>