
<div class="header">
    <img class="pic" src="images/top1.png">
    <span class="name">未来工作室</span>
    <input class="search" id="M_search" name="search" type="text">
    <button class="btn" onclick="changev()">搜索</button>
    <div class="pic-right">
        <ul class="ul1">
            <li><a href="/"><img class="icon" title="主页" src="images/home.png"/></a></li>
            <li><a href="#"><img class="icon" title="写文章" src="images/pencil.png"/></a></li>
            <li><a href="#"><img class="icon" title="通知" src="images/page.png"/></a></li>
            <li style="z-index: 21">
                <!--show box-->
                <div class="on">
                    <img class="icon" title="主页" src="images/person.png"/>
                    <div class="p_box">
                        <div class="user">
                            <span class="p_use">账户</span>
                            <span>
                                <a href="javascript:;" style="float:right;color:#d8d8d8" onclick="send()" >退出</a>
                            </span>
                        </div>
                        <ul class="pub">
                            <li>
                                <i><img class="icon1" src="images/blogicon.png"></i>
                                <a href="/owner">我的博客</a>
                                <!-- <span data-id="tab1" data-url="/owner/" class="p_font">我的博客</span> -->
                                <i class="font"><%=data3.blogNum%></i>
                            </li>
                            <li>
                                <i><img class="icon1" src="images/heart.png"></i>
                                <span data-id="tab2" data-url="/owner/" class="p_font">点赞</span>
                                <i class="font"><%=data3.likeNum%></i>
                            </li>
                                <li>
                                    <i><img class="icon1" src="images/good.png"></i>
                                    <span data-id="tab3" data-url="/owner/" class="p_font">我的收藏</span>
                                    <i class="font"><%=data3.collectionNum%></i>
                                </li>
                                <li>
                                    <i><img class="icon1" src="images/info.png"></i>
                                    <span data-id="tab4" data-url="/owner/" class="p_font">评论</span>
                                    <i class="font"><%=data3.commentNum%></i>
                                </li>
                            </ul>
                        <div class="p_count">
                            <p><%=userinfo.username%></p>
                            <div class="look">
                                <img src="images/tou.jpg" width="100%" height="100%">
                            </div>
                        </div>
                        <ul class="pub">
                            <li>
                                <i><img class="icon1" src="images/fans.png"></i>
                                <span data-id="tab5" data-url="/owner/" class="p_font">我的关注</span>
                                <i class="font"><%=data3.myAttentionNum%></i>
                            </li>
                            <li>
                                <i><img class="icon1" src="images/concern.png"></i>
                                <span data-id="tab6" data-url="/owner/" class="p_font">我的粉丝</span>
                                <i class="font"><%=data3.fanNum%></i>
                            </li>
                            <li>
                                <i><img class="icon1" src="images/article.png"></i>
                                <span data-id="tab7" data-url="/owner/" class="p_font">我的消息</span>
                                <i class="font"><%=data3.messageNum%></i>
                            </li>
                            <li>
                                <i><img class="icon1" src="images/article.png"></i>
                                <span data-id="tab8" data-url="/owner/" class="p_font">个人资料</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
$(function () {

    // 获取当前的页面，并设置搜索栏中的placeholder
    const L_name = window.location.pathname;
    switch (L_name) {
        case '/':
            $('#M_search').attr({"placeholder":"请输入搜索内容"});
            break;
        case '/user':
            $("#M_search").attr({"placeholder":"搜索博主的其他文章"});
            break;
        case '/details':
            $("#M_search").attr({"placeholder":"搜索相关的文章"});
            break;
        default:
            $("#M_search").attr({"placeholder":"..."});
            break;
    }

    //点击跳转
    $(".pub").find('.p_font').click(function () {
        var _tab=$(this).attr('data-id');   //tab1,tab2.....
        var _url=$(this).attr('data-url');   //   /owner/...
        var _href=_url+_tab;   //  /owner/tab*
        $.get(_href,function (result) {
            let str="";
            for (let i=0;i<result.length;i++){
                if (_tab=='tab1'){
                    const astr=result[i].label;
                    const arr=astr.split(',');
                    let ss="";
                    for (let m=0;m<arr.length;m++){
                        ss+="<a href='#' class='label-item'>"+arr[m]+"</a>"
                    }
                    str+="<div class='g_list'><div class='s-content'><a href='#' class='s-title'>"+result[i].blTitle+"</a>" +
                        "<p class='s-info'><span>发布时间："+result[i].createTime+"</span><span>浏览："+result[i].pageviews+"<span>" +
                        "</span></span><span>评论 ："+result[i].comments+"<span></span></span></p>" +
                        "<p class='s-desc'>"+result[i].blSummary+"</p><p class='tags'>"+ss+"</p></div></div>";
                    localStorage.setItem("str",str);
                }else if(_tab=='tab2'){
                    str+="<div class='g_list'><div class='s-content'><div class='s-desc'>" +
                        "<span>"+result[i].createTime +"</span>，赞了该文章</div><div class='g_box'>" +
                        "<span class='arrow'></span><a href='#' class='s-title'>"+result[i].blTitle+"</a>" +
                        "<div><div class='s-desc'>"+result[i].blSummary+"</div></div></div></div></div>"
                    localStorage.setItem("str",str);
                }else if(_tab=='tab3'){
                    const astr=result[i].label;
                    const arr=astr.split(',');
                    let ss="";
                    for (var n=0;n<arr.length;n++){
                        ss+="<a href='#' class='label-item'>"+arr[n]+"</a>"
                    }
                    str+="<div class='g_list'><div class='s-content'><a href='#' class='s-title'>"+result[i].blTitle+"</a>" +
                        "<p class='s-info'><span>收藏时间："+result[i].createTime+"</span><span>浏览："+result[i].pageviews+"<span>" +
                        "</span></span><span>评论 ："+result[i].comments+"<span></span></span></p>" +
                        "<p class='s-desc'>"+result[i].blSummary+"</p><p class='tags'>"+ss+"</p></div></div>";
                    localStorage.setItem("str",str);
                }else if(_tab=='tab4'){
                    str+="<div class='subject-item'><div class='s-content' style='margin:30px 100px 30px 30px'>" +
                        "<h3 class='s-title'><a href='#' class='s-h3' id='"+result[i].id+"'>"+result[i].isAttention+"</a></h3>" +
                        "<p class='s-desc'><span style='font-weight: bold'> 我的评论：</span><span>"+result[i].content+"</span></p>" +
                        "<p class='s-info'><span>评论时间："+result[i].createTime+"</span></p></div> </div>";
                    localStorage.setItem("str",str);
                }else if (_tab=='tab5'){
                    str+="<div class='eve_list'><img class='eve_pic' src='images/tou1.png'><div class='eve_articel'>" +
                        "<h4>"+result[i].userName+"</h4><p class='eve_font'>已于 <span>"+result[i].createTime+"</span>" +
                        " 更新</p></div><div class='eve_concern'><img src='images/concern.png'>" +
                        "<button class='eve_btn'>取消关注</button></div></div>";
                    localStorage.setItem("str",str);
                }else if (_tab=='tab6'){
                   var len=result.length;
                    str+="<div class='eve_list'><div class='fans_pic'><div class='f_pic box1'></div><div class='f_pic box2'></div>" +
                        "<div class='f_pic box3'><img class='f-pic' src='images/tou1.png'></div></div>" +
                        "<div class='fans_font'> <h4>"+result[i].userName+"</h4><p>"+result[i].content+"</p></div>" +
                        "<button class='eve_btn F_btn'>取消关注</button></div>";
                    localStorage.setItem("str",str);
                    localStorage.setItem("len",len);
                }else if (_tab=='tab7'){
                    const info=result.length;
                    str+="<div class='present-panel'>" +
                        "<div class='g_list self'><div>欢迎来到博客首页，快去完善个人资料吧。</div>" +
                        "<div style='margin-top: 10px'>2018-08-15 14:51:32</div></div></div>";
                    localStorage.setItem("str",str);
                    localStorage.setItem("info",info);
                }
            }
            if (_tab=='tab8'){
                const len=result.list1.module.length;
                let ars="";
                for (var j=0;j<len;j++){
                    ars+="<li>"+result.list1.module[j].caName+"</li>"
                }
                str+="<ul class='i_info'><li><span>头像</span><span><img class='i_pic' src='images/tou1.png'></span>" +
                    "<a href='#' class='i_look'>查看我的博客</a></li><li><span>用户昵称：</span>" +
                    "<span>"+result.list.userName+"</span></li><li><span>个性签名：</span>" +
                    "<span>"+result.list.isAttention+"</span></li><li><span>我的简介：</span><span>" +
                    "<textarea class='l_div'>"+result.list.content+"</textarea></span></li><li><span style='vertical-align:top'>我的标签：</span>" +
                    "<span><div class='demo'><ul class='select'><li><span>" +
                    "<ul class='select-result s_pub' id='listdemo'></ul></span></li><li>" +
                    "<span class='select-list s_pub'><ul id='select1' onclick='add(event)'>"+ars+"</ul></span></li></ul></div></span>" +
                    "</li></ul><label class='i_label'> 输入github地址：</label><input class='i_inp' type='text' style='margin-left: 10px'>" +
                    "<br/><label class='i_label'>输入码云地址：</label><input class='i_inp' type='text' style='margin-left: 23px'>" +
                    "<br/><button class='i_btn'>保存</button>";
                localStorage.setItem("str",str);
            }
            window.location.href="/owner?txt="+_tab;
        })
    })

})
function send() {
    const exit=confirm('Are you sure you want to quit?');
    if (exit) {
        $.get('/logout',function (url) {
            location.href=url;
        })
    }
}

//点击搜索时 发送请求（主页中）
function changev(){
    const val=$('.search').val();  //得到输入的内容
    const data={
        key:val
    }
    $.ajax({
        url:'/search',
        type:'post',
        data: data,      //data对象是输入的内容 作为查询数据
        success:function (data) {
            //遮罩显示
            $('#mask').css({"display":"block"});
            let str="";
            if (data.length<=0){
                str="<div class='tipe1'><img src='images/404.png' width='100%' height='100%'></div>"
            }
            for (let i=0;i<data.length;i++){
                str+="<div class='c_list'><div class='main-info'><h3><a href='/blogdetails/details?id="+data[i].id+"'>"
                    +data[i].blTitle +"</a></h3><p class='desc'>"+data[i].blSummary+"</p></div>" +
                    "<div class='less-info'><p class='source'><span class='author'>作者"+data[i].penName+"</span>" +
                    "<span class='type'>"+data[i].articleType+"</span><span>"+data[i].createTime+"</span>" +
                    "<span>"+data[i].pageviews+" 人浏览</span></p></div></div>"
            }
            $('#wrap').append(str);
            $('#m_search').val(val);   //设置mask中输入框的值等于主页输入的内容
        }
    })
}
</script>
